@font-face {
  font-family: Barlow;
  src: URL("./assets/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: BarlowSemiCondensed;
  src: URL("./assets/fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
}

body {
  padding-top: 2rem;
}

.title {
  font-family: Barlow, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.subtitle {
  font-family: Barlow, sans-serif;
  text-align: center;
  font-size: 1rem;
}

.separator {
  border-left: 0;
  border-top: 1.5px solid #a9a9a955;
  width: 30%;
}

.table {
  width: 80vw;
  margin: auto;
  border-spacing: 0;
}

.header-row {
  background-color: #f9fafb;
  height: 2rem;
}

.chall-header {
  font-family: BarlowSemiCondensed, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.chall-data {
  font-family: Barlow, sans-serif;
  text-transform: uppercase;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.name-data {
  text-align: center;
}

.status-data {
  display: none;
  text-align: right;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coding-image {
  width: 250px;
}

/* Responsive */
@media only screen and (min-width: 768px) {
  .status-data {
    display: block;
  }

  .name-data {
    text-align: left;
  }

  .coding-image {
    width: 600px;
  }
}
